<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apps.sms.dao.CountryDao">
  <select id="selectAll" 
  	resultType="com.apps.sms.bean.Country">
    select * from sms_country
  </select>
  
  <insert id="insert">
  inster into sms_country values(null,#{name});
  </insert>
  
  <update id="update">
  update sms_country
  set name=#{name},
  where id = #{id}
  </update>
  
  <delete id="deleteById">
  delete from sms_country where id = #{id}
  </delete>
  
  
  
</mapper>